<a href="https://colab.research.google.com/github/John-Dublanyk/-CSC221_Jdubl001/blob/main/Assignment26_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#John Dublanyk
#CSC221

In [5]:
#1
x = 5
y = 6.5
z = "Hello sir"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
#2
name = "John"
print(f"Hello my name {name}")

Hello my name John

In [16]:
#3
new_string = "Hello John"

print(new_string.lower())
print(new_string.upper())
print(new_string.split())
print(new_string.swapcase())

hello john
HELLO JOHN
['Hello', 'John']
hELLO jOHN

In [18]:
#4
new_list = ['John', 'Scott', 'Josh']

new_list.append('Garrett')
new_tuple = ('Frank', 'sophie')
new_list.extend(new_tuple)

print(new_list)

['John', 'Scott', 'Josh', 'Garrett', 'Frank', 'sophie']

In [2]:
#5
big_list = [
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
]

full_list = [element for inner_list in big_list for element in inner_list]
print(full_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
#6
new_list = [4, 8, 6, 2, 3, 9, 7, 1, 5]

new_list.sort()

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
  #7
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [15]:
#8
squares_list = [x**2 for x in range(1, 1001) if x % 7 != 0]

print(squares_list)

[1, 4, 9, 16, 25, 36, 64, 81, 100, 121, 144, 169, 225, 256, 289, 324, 361, 400, 484, 529, 576, 625, 676, 729, 841, 900, 961, 1024, 1089, 1156, 1296, 1369, 1444, 1521, 1600, 1681, 1849, 1936, 2025, 2116, 2209, 2304, 2500, 2601, 2704, 2809, 2916, 3025, 3249, 3364, 3481, 3600, 3721, 3844, 4096, 4225, 4356, 4489, 4624, 4761, 5041, 5184, 5329, 5476, 5625, 5776, 6084, 6241, 6400, 6561, 6724, 6889, 7225, 7396, 7569, 7744, 7921, 8100, 8464, 8649, 8836, 9025, 9216, 9409, 9801, 10000, 10201, 10404, 10609, 10816, 11236, 11449, 11664, 11881, 12100, 12321, 12769, 12996, 13225, 13456, 13689, 13924, 14400, 14641, 14884, 15129, 15376, 15625, 16129, 16384, 16641, 16900, 17161, 17424, 17956, 18225, 18496, 18769, 19044, 19321, 19881, 20164, 20449, 20736, 21025, 21316, 21904, 22201, 22500, 22801, 23104, 23409, 24025, 24336, 24649, 24964, 25281, 25600, 26244, 26569, 26896, 27225, 27556, 27889, 28561, 28900, 29241, 29584, 29929, 30276, 30976, 31329, 31684, 32041, 32400, 32761, 33489, 33856, 34225, 34596, 34969, 35344, 36100, 36481, 36864, 37249, 37636, 38025, 38809, 39204, 39601, 40000, 40401, 40804, 41616, 42025, 42436, 42849, 43264, 43681, 44521, 44944, 45369, 45796, 46225, 46656, 47524, 47961, 48400, 48841, 49284, 49729, 50625, 51076, 51529, 51984, 52441, 52900, 53824, 54289, 54756, 55225, 55696, 56169, 57121, 57600, 58081, 58564, 59049, 59536, 60516, 61009, 61504, 62001, 62500, 63001, 64009, 64516, 65025, 65536, 66049, 66564, 67600, 68121, 68644, 69169, 69696, 70225, 71289, 71824, 72361, 72900, 73441, 73984, 75076, 75625, 76176, 76729, 77284, 77841, 78961, 79524, 80089, 80656, 81225, 81796, 82944, 83521, 84100, 84681, 85264, 85849, 87025, 87616, 88209, 88804, 89401, 90000, 91204, 91809, 92416, 93025, 93636, 94249, 95481, 96100, 96721, 97344, 97969, 98596, 99856, 100489, 101124, 101761, 102400, 103041, 104329, 104976, 105625, 106276, 106929, 107584, 108900, 109561, 110224, 110889, 111556, 112225, 113569, 114244, 114921, 115600, 116281, 116964, 118336, 119025, 119716, 120409, 121104, 121801, 123201, 123904, 124609, 125316, 126025, 126736, 128164, 128881, 129600, 130321, 131044, 131769, 133225, 133956, 134689, 135424, 136161, 136900, 138384, 139129, 139876, 140625, 141376, 142129, 143641, 144400, 145161, 145924, 146689, 147456, 148996, 149769, 150544, 151321, 152100, 152881, 154449, 155236, 156025, 156816, 157609, 158404, 160000, 160801, 161604, 162409, 163216, 164025, 165649, 166464, 167281, 168100, 168921, 169744, 171396, 172225, 173056, 173889, 174724, 175561, 177241, 178084, 178929, 179776, 180625, 181476, 183184, 184041, 184900, 185761, 186624, 187489, 189225, 190096, 190969, 191844, 192721, 193600, 195364, 196249, 197136, 198025, 198916, 199809, 201601, 202500, 203401, 204304, 205209, 206116, 207936, 208849, 209764, 210681, 211600, 212521, 214369, 215296, 216225, 217156, 218089, 219024, 220900, 221841, 222784, 223729, 224676, 225625, 227529, 228484, 229441, 230400, 231361, 232324, 234256, 235225, 236196, 237169, 238144, 239121, 241081, 242064, 243049, 244036, 245025, 246016, 248004, 249001, 250000, 251001, 252004, 253009, 255025, 256036, 257049, 258064, 259081, 260100, 262144, 263169, 264196, 265225, 266256, 267289, 269361, 270400, 271441, 272484, 273529, 274576, 276676, 277729, 278784, 279841, 280900, 281961, 284089, 285156, 286225, 287296, 288369, 289444, 291600, 292681, 293764, 294849, 295936, 297025, 299209, 300304, 301401, 302500, 303601, 304704, 306916, 308025, 309136, 310249, 311364, 312481, 314721, 315844, 316969, 318096, 319225, 320356, 322624, 323761, 324900, 326041, 327184, 328329, 330625, 331776, 332929, 334084, 335241, 336400, 338724, 339889, 341056, 342225, 343396, 344569, 346921, 348100, 349281, 350464, 351649, 352836, 355216, 356409, 357604, 358801, 360000, 361201, 363609, 364816, 366025, 367236, 368449, 369664, 372100, 373321, 374544, 375769, 376996, 378225, 380689, 381924, 383161, 384400, 385641, 386884, 389376, 390625, 391876, 393129, 394384, 395641, 398161, 399424, 400689, 401956, 403225, 404496, 407044, 408321, 409600, 410881, 412164, 413449, 416025, 417316, 418609, 419904, 421201, 422500, 425104, 426409, 427716, 429025, 430336, 431649, 434281, 435600, 436921, 438244, 439569, 440896, 443556, 444889, 446224, 447561, 448900, 450241, 452929, 454276, 455625, 456976, 458329, 459684, 462400, 463761, 465124, 466489, 467856, 469225, 471969, 473344, 474721, 476100, 477481, 478864, 481636, 483025, 484416, 485809, 487204, 488601, 491401, 492804, 494209, 495616, 497025, 498436, 501264, 502681, 504100, 505521, 506944, 508369, 511225, 512656, 514089, 515524, 516961, 518400, 521284, 522729, 524176, 525625, 527076, 528529, 531441, 532900, 534361, 535824, 537289, 538756, 541696, 543169, 544644, 546121, 547600, 549081, 552049, 553536, 555025, 556516, 558009, 559504, 562500, 564001, 565504, 567009, 568516, 570025, 573049, 574564, 576081, 577600, 579121, 580644, 583696, 585225, 586756, 588289, 589824, 591361, 594441, 595984, 597529, 599076, 600625, 602176, 605284, 606841, 608400, 609961, 611524, 613089, 616225, 617796, 619369, 620944, 622521, 624100, 627264, 628849, 630436, 632025, 633616, 635209, 638401, 640000, 641601, 643204, 644809, 646416, 649636, 651249, 652864, 654481, 656100, 657721, 660969, 662596, 664225, 665856, 667489, 669124, 672400, 674041, 675684, 677329, 678976, 680625, 683929, 685584, 687241, 688900, 690561, 692224, 695556, 697225, 698896, 700569, 702244, 703921, 707281, 708964, 710649, 712336, 714025, 715716, 719104, 720801, 722500, 724201, 725904, 727609, 731025, 732736, 734449, 736164, 737881, 739600, 743044, 744769, 746496, 748225, 749956, 751689, 755161, 756900, 758641, 760384, 762129, 763876, 767376, 769129, 770884, 772641, 774400, 776161, 779689, 781456, 783225, 784996, 786769, 788544, 792100, 793881, 795664, 797449, 799236, 801025, 804609, 806404, 808201, 810000, 811801, 813604, 817216, 819025, 820836, 822649, 824464, 826281, 829921, 831744, 833569, 835396, 837225, 839056, 842724, 844561, 846400, 848241, 850084, 851929, 855625, 857476, 859329, 861184, 863041, 864900, 868624, 870489, 872356, 874225, 876096, 877969, 881721, 883600, 885481, 887364, 889249, 891136, 894916, 896809, 898704, 900601, 902500, 904401, 908209, 910116, 912025, 913936, 915849, 917764, 921600, 923521, 925444, 927369, 929296, 931225, 935089, 937024, 938961, 940900, 942841, 944784, 948676, 950625, 952576, 954529, 956484, 958441, 962361, 964324, 966289, 968256, 970225, 972196, 976144, 978121, 980100, 982081, 984064, 986049, 990025, 992016, 994009, 996004, 998001, 1000000]

In [20]:
#9
def primes_sieve(limit):
    limitn = limit + 1
    primes = list(range(2, limitn))

    for i in primes:
        if i:
            for f in range(i * i, limitn, i):
                primes[f - 2] = 0
    return [x for x in primes if x]

print(primes_sieve(1000))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [25]:
#10

def my_prime_generator(N):
    limit, count = 2, 0
    prime_list = []

    while count < N:
        if not prime_list:
            prime_list = primes_sieve(limit)
            limit += 100

        yield prime_list.pop(0)
        count += 1


for x in my_prime_generator(200):
    print(x)

2
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313

In [29]:
#11
import random
random_numbers = [random.randint(0, 1000) for _ in range(1000)]

min_value = min(random_numbers)
max_value = max(random_numbers)
sum_values = sum(random_numbers)
average_value = sum_values / len(random_numbers)

print("Min:", min_value)
print("Max:", max_value)
print("Sum:", sum_values)
print("Average:", average_value)

Min: 2
Max: 1000
Sum: 491222
Average: 491.222

In [30]:
#12
name = input("Enter a name: ")

if name.lower() == 'john':
    print('yes')
elif name.lower() == 'paul':
    print('wrong')
else:
    print('error')

Enter a name: john
yes

In [ ]:
#13
# Bad
import sys, os
# Good
import sys
import os

# Bad
nums = ( 1, 0 )
# Good
nums = (1, 0)

# Bad
FILES = 'setup.cfg',
# Good
FILES = ('setup.cfg',)

In [31]:
#14
%%file  testfile.txt
Amy, cat
Fred, dog
Hunter, dog
Peena, parakeet
Rover, dog

Writing testfile.txt

In [40]:
#15
file_path = 'testfile.txt'
pet_dictionary = {}

with open(file_path, 'r') as file:
    for line in file:
        name, pet = line.strip().split(', ')
        pet_dictionary[name] = pet

print(pet_dictionary)

def lookup_pet_type(pet_name):
    return pet_dictionary.get(pet_name, 'Pet not found')

pet_name_to_lookup = input("Enter the pet name to lookup: ")

result = lookup_pet_type(pet_name_to_lookup)

print(f"The pet type for {pet_name_to_lookup} is: {result}")

{'Amy': 'cat', 'Fred': 'dog', 'Hunter': 'dog', 'Peena': 'parakeet', 'Rover': 'dog'}
Enter the pet name to lookup: Fred
The pet type for Fred is: dog

In [1]:
#16
file_path = 'testfile.txt'
pet_dictionary = {}

with open(file_path, 'r') as file:
    for line in file:
        name, pet = line.strip().split(', ')
        pet_dictionary[name] = pet
unique_pet_types_list = list(set(pet_dictionary.values()))

print("Unique Pet Types:", unique_pet_types_list)

Unique Pet Types: ['cat', 'parakeet', 'dog']

In [49]:
#17
number = 80

while number >= 16:
    print(number)
    number -= 8

80
72
64
56
48
40
32
24
16

In [56]:
#18
a = 10
b = 100
c = 1000

def min_max_sum(a, b, c):
    return (min(a, b, c), max(a, b, c), a + b + c)

result_tuple = min_max_sum(a, b, c)
print(result_tuple)

(10, 1000, 1110)

In [58]:
#19
def min_max_sum(a, b, c):
    return (min(a, b, c), max(a, b, c), a + b + c)

a = (input("Enter the first number: "))
b = (input("Enter the second number: "))
c = (input("Enter the third number: "))

result_tuple = min_max_sum(a, b, c)
print(result_tuple)

Enter the first number: 598
Enter the second number: 890
Enter the third number: 342
('342', '890', '598890342')

In [61]:
#20
def traceroo(func):
    def wrapper(*args, **kwargs):
        print(f"Executing {func.__name__} with arguments: {args}, {kwargs}")
        result = func(*args, **kwargs)
        print(f"{func.__name__} result: {result}")
        return result
    return wrapper

@traceroo
def min_max_sum(a, b, c):
    return (min(a, b, c), max(a, b, c), a + b + c)

a = (input("Enter the first number: "))
b = (input("Enter the second number: "))
c = (input("Enter the third number: "))

result_tuple = min_max_sum(a, b, c)
print(result_tuple)

Enter the first number: 598
Enter the second number: 890
Enter the third number: 342
Executing min_max_sum with arguments: ('598', '890', '342'), {}
min_max_sum result: ('342', '890', '598890342')
('342', '890', '598890342')

In [65]:
#21
class Simple:
    def __init__(self, value):
        self.value = value

    def __repr__(self):
        return f"Repr({self.value})"

    def __str__(self):
        return f"Str {self.value}"

    def __add__(self, other):
        if isinstance(other, Simple):
            return Simple(self.value + other.value)
        else:
            raise TypeError

obj1 = Simple(42)
obj2 = Simple(23)

print(repr(obj1))

print(str(obj1))

result = obj1 + obj2
print(repr(result))

Repr(42)
Str 42
Repr(65)

In [ ]:
#22
import numpy as np
import math

pi_digits_int = np.floor(np.cos(np.arange(10**9) * 2 * math.pi)).astype(int)

birthday_str = "030902"
birthday_int = int(birthday_str)

birthday_index = np.where(pi_digits_int == birthday_int)[0]

if len(birthday_index) > 0:
  print(f"Your birthday {birthday_str} found at position {birthday_index[0]+1} in pi")
else:
  print("Not in pi")
# Got this as a reult on my computer:
"""
Your session crashed after using all available RAM. If you are interested in access to high-RAM runtimes, you may want to check out
"""