<a href="https://colab.research.google.com/github/John-Dublanyk/-CSC221_Jdubl001/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
##4-1
toppings = ['pepperoni', 'Cheese', 'sausage', 'Pineapple']
message = " I really like {} on my pizza."

for topping in toppings:
  message_1 = message.format(topping)
  print(message_1)

else:
  print('I really love pizza!')

 I really like pepperoni on my pizza.
 I really like Cheese on my pizza.
 I really like sausage on my pizza.
 I really like Pineapple on my pizza.
I really love pizza!

In [ ]:
#4-2 Is similar to 4-1

In [66]:
#4-3
my_list = []
for value in range(1,11):
  my_list.append(value)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#4-4 with more numbers

In [69]:
#4-5
my_list = []
for value in range(1,1000001):
  my_list.append(value)
print(min(my_list))
print(max(my_list))
print(sum(my_list))

1
1000000
500000500000

In [77]:
#4-6
my_list = []
for value in range(1,21,2):
  my_list.append(value)

print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [76]:
#4-7
my_list = []
for value in range(3,31,3):
  my_list.append(value)

print(my_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [79]:
#4-8
cubes = []
for value in range(1,11):
 cubes.append(value**3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [81]:
#4-9
Cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [86]:
#4-10
my_list = []
for value in range(1,11):
  my_list.append(value)
print("The first three items in the list are:")
print(my_list[:3])

The first three items in the list are:
[1, 2, 3]

In [87]:
my_list = []
for value in range(1,11):
  my_list.append(value)
print("Three items from the middle of the list are:")
print(my_list[3:6])

Three items from the middle of the list are:
[4, 5, 6]

In [88]:
my_list = []
for value in range(1,11):
  my_list.append(value)
print("Three items from the middle of the list are:")
print(my_list[-3:])

Three items from the middle of the list are:
[8, 9, 10]

In [95]:
#4-11
toppings = ['pepperoni', 'Cheese', 'sausage', 'Pineapple']
friends_pizzas = []
friends_pizzas.append('Bacon')
toppings.append('Pepper')
print(toppings)
print(friends_pizzas)

['pepperoni', 'Cheese', 'sausage', 'Pineapple', 'Pepper']
['Bacon']

In [ ]:
#4-12 it will look like the other for loops i have already used

In [96]:
#4-13
bullet = ("chicken", "steak", "rice", "ice cream", "salad")
for i in bullet:
  print(i)

chicken
steak
rice
ice cream
salad

In [97]:
#4-13 code error
bullet = ("chicken", "steak", "rice", "ice cream", "salad")
for i in bullet:
  bullet.append("chicken")
  print(i)

AttributeError: ignored

In [104]:
#4-13
buffet = ("chicken", "steak", "rice", "ice cream", "salad")
for i in bullet:
  print(i)
print("\nNew buffet")
new_buffet = ("bacon", "pork", "noodles", "ice", "pasta")
for i in new_bullet:
  print(i)

chicken
steak
rice
ice cream
salad

New buffet
bacon
porl
noodles
ice
pasta

In [110]:
def factorial(n):
    my_list = [1]

    for x in range(1, n+1):
      my_list.append(x)

    product = 1

    for x in my_list:
      product *= x

    return product

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [126]:
def special_factorial(n):
    my_list = [1]

    for x in range(1, n+1):
      my_list.append(x)

    if n >= 4:
      my_list.remove(4)
    if n >= 12:
      my_list.remove(12)
    if n >= 22:
      my_list.remove(22)

    product = 1

    for x in my_list:
      product *= x

    return product

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
50685458503680000
28801224622834638298875575914834061405660645425152000000000000