<a href="https://colab.research.google.com/github/John-Dublanyk/-CSC221_Jdubl001/blob/main/Assignment4_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#3-1
names = ['Garrett', 'Nolan', 'Josh', 'Greyson']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Garrett
Nolan
Josh
Greyson

In [22]:
#3-2
names = ['Garrett', 'Nolan', 'Josh', 'Greyson']
message = " Hello {}, how are you doing?"

for name in names:
  message_1 = message.format(name)
  print(message_1)

 Hello Garrett, how are you doing?
 Hello Nolan, how are you doing?
 Hello Josh, how are you doing?
 Hello Greyson, how are you doing?

In [27]:
#3-3
transportations = ['Car', 'Motorcycle', 'Bike', 'bus']
message = " I really like commuting {}."

for transportation in transportations:
  message_1 = message.format(transportation)
  print(message_1)

 I really like commuting Car.
 I really like commuting Motorcycle.
 I really like commuting Bike.
 I really like commuting bus.

In [28]:
#3-4
guests = ['Scott Dublanyk', 'Professor Lecky', 'Albert Einstein']
message = "Hello {}, would you like to come to dinner?"

for guest in guests:
  message_1 = message.format(guest)
  print(message_1)

 Hello Scott Dublanyk, would you like to come to dinner?
 Hello Professor Lecky, would you like to come to dinner?
 Hello Albert Einstein, would you like to come to dinner?

In [33]:
#3-5
guests = ['Scott Dublanyk', 'Professor Lecky', 'Albert Einstein']
message = "Hello {}, would you like to come to dinner?"

for guest in guests:
  message_1 = message.format(guest)
  print(message_1)
  message_2 = f"{guests[0]} can not make it."
print(message_2)

Hello Scott Dublanyk, would you like to come to dinner?
Hello Professor Lecky, would you like to come to dinner?
Hello Albert Einstein, would you like to come to dinner?
Scott Dublanyk can not make it.

In [40]:
#3-5
guests = ['Scott Dublanyk', 'Professor Lecky', 'Albert Einstein']
message = "Hello {}, would you like to come to dinner?"
guests.remove('Scott Dublanyk')
guests.append('Tom Brady')

for guest in guests:
  message_1 = message.format(guest)
  print(message_1)

Hello Professor Lecky, would you like to come to dinner?
Hello Albert Einstein, would you like to come to dinner?
Hello Tom Brady, would you like to come to dinner?

In [46]:
3-6
guests = ['Tom brady', 'Professor Lecky', 'Albert Einstein']
message = "Hello {}, would you like to come to dinner?"
guests.insert(0,'Dwayne Johnson')
guests.insert(2,'Betty White')
guests.append('Eric Clapton')

for guest in guests:
  message_1 = message.format(guest)
  print(message_1)

Hello Dwayne Johnson, would you like to come to dinner?
Hello Tom brady, would you like to come to dinner?
Hello Betty White, would you like to come to dinner?
Hello Professor Lecky, would you like to come to dinner?
Hello Albert Einstein, would you like to come to dinner?
Hello Eric Clapton, would you like to come to dinner?

In [48]:
#3-7
guests = ['Tom brady', 'Professor Lecky', 'Albert Einstein']
message = "Hello {}, would you like to come to dinner?"
guests.insert(0,'Dwayne Johnson')
guests.insert(2,'Betty White')
guests.append('Eric Clapton')

for guest in guests:
  message_1 = message.format(guest)
  print(message_1)
  print("I am sorry, but the big table did not come in.")

Hello Dwayne Johnson, would you like to come to dinner?
I am sorry, but the big table did not come in.
Hello Tom brady, would you like to come to dinner?
I am sorry, but the big table did not come in.
Hello Betty White, would you like to come to dinner?
I am sorry, but the big table did not come in.
Hello Professor Lecky, would you like to come to dinner?
I am sorry, but the big table did not come in.
Hello Albert Einstein, would you like to come to dinner?
I am sorry, but the big table did not come in.
Hello Eric Clapton, would you like to come to dinner?
I am sorry, but the big table did not come in.

In [62]:

#3-7
guests = ['Tom Brady', 'Professor Lecky', 'Albert Einstein', 'Dwayne Johnson', 'Betty White', 'Eric Clapton']
Guest_list = guests.pop(0)
print(f"I am sorry {Guest_list}, you can not come.")
Guest_list = guests.pop(3)
print(f"I am sorry {Guest_list}, you can not come.")
Guest_list = guests.pop(2)
print(f"I am sorry {Guest_list}, you can not come.")
Guest_list = guests.pop(2)
print(f"I am sorry {Guest_list}, you can not come.")

I am sorry Tom Brady, you can not come.
I am sorry Betty White, you can not come.
I am sorry Dwayne Johnson, you can not come.
I am sorry Eric Clapton, you can not come.

In [63]:
#3-7
guests = ['Professor Lecky', 'Albert Einstein']
message = "Hello {},you are still invited"

for guest in guests:
  message_1 = message.format(guest)
  print(message_1)

Hello Professor Lecky,you are still invited
Hello Albert Einstein,you are still invited

In [70]:
3-7
guests = ['Professor Lecky', 'Albert Einstein']
print(guests)

del guests[0]
print(guests)
del guests [0]
print(guests)

['Professor Lecky', 'Albert Einstein']
['Albert Einstein']
[]

In [83]:
#3-8
visit = ['Washington', 'Africa', 'South America', 'Russia', 'Japan']
print(visit)

['Washington', 'Africa', 'South America', 'Russia', 'Japan']

In [90]:
visit = ['Washington', 'Africa', 'South America', 'Russia', 'Japan']
print(sorted(visit))
print(sorted(visit, reverse=True))

['Africa', 'Japan', 'Russia', 'South America', 'Washington']
['Washington', 'South America', 'Russia', 'Japan', 'Africa']

In [92]:
3-8
visit = ['Washington', 'Africa', 'South America', 'Russia', 'Japan']
visit.reverse()
print(visit)
visit.reverse()
print(visit)

['Japan', 'Russia', 'South America', 'Africa', 'Washington']
['Washington', 'Africa', 'South America', 'Russia', 'Japan']

In [93]:
3-8
visit = ['Washington', 'Africa', 'South America', 'Russia', 'Japan']
visit.sort()
print(visit)

visit.sort(reverse=True)
print(visit)

['Africa', 'Japan', 'Russia', 'South America', 'Washington']
['Washington', 'South America', 'Russia', 'Japan', 'Africa']

In [98]:
3-9
guests = ['Scott Dublanyk', 'Professor Lecky', 'Albert Einstein']
message = "Hello {}, would you like to come to dinner?"
invited = len(guests)
print(f"This is the number of guests {invited}")

for guest in guests:
  message_1 = message.format(guest)
  print(message_1)

This is the number of guests 3
Hello Scott Dublanyk, would you like to come to dinner?
Hello Professor Lecky, would you like to come to dinner?
Hello Albert Einstein, would you like to come to dinner?

In [ ]:
#3-11
#  I had an index error 3-7 because I was trying to pop (4) using the original list, but ther were only 3 people in the list.

In [108]:
cubes = [x**3 for range in (60,86) x == 7]
print(cubes)

SyntaxError: ignored

In [110]:
numbers = [40, 50, 120, -8, 6]
y = []
for number in numbers:
  equation = 7.4*numbers + 51

TypeError: ignored